body {
  background-image: linear-gradient(to right, #12ebdc, #00bdd2, #008fbc, #006298, #14376b);
  font-family: 'Marck Script', cursive;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding-top: 20px;
}
a {
  color: #fff;
}
h1 {
  max-width: 500px;
  text-align: center;
  margin: 50px auto;
}
.man-img {
  width: 500px;
}
.app-header {
  background-color: #14376b;
}
ul {
  list-style: none;
  text-align: left;
  margin: auto;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
ul>li {
  margin-right: 20px;
}
.main_link {
  font-size: 35px;
}
.dropdown_list {
  display: none;
}
.box {
  text-align: center;
  margin-top: 50px;
}
.list-you-can>li::before {
  content: '-';
}
.form-search {
  position: relative;
  margin-top: 20px;
}
.input_search,.btn-search {
  width: 35%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 24px;
}
.btn {
  width: 40%;
  background-color: #12ebdc;
  color: #fff;
  transition: 1s linear;
  padding: 5px 10px;
  outline: none;
  border: 3px solid #008fbc;
  border-radius: 24px;
  font-size: 16px;
}
.btn:hover {
  background-color:  #008fbc;
  cursor: pointer;
}
.btn-search {
  width: 10%;
  position: absolute;
  right: 30%;
  background-color: #12ebdc;
  color: #fff;
  transition: 1s linear;

}
.btn-search:hover {
  background-color:  #008fbc;
  cursor: pointer;
}

.login {
  padding: 50px 0;
  width: 400px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5);
  border: 5px dotted;
}
.login>label, .btn {
  display: block;
  margin:  0 auto;
}
.btns {
  margin-top: 35px;
}